<%= link_to "戻る", admin_weeks_path %>

<h1>admin Index</h1>
<h3><%= (@week.monday).day %>日～<%= @week.sunday %>日のシフト希望</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="table-secondary">
      <th></th>
      <th></th>
      <th><%= (@week.monday).month %>/<%= (@week.monday).day %></th>
      <th><%= (@week.tuesday).month %>/<%= (@week.tuesday).day %></th>
      <th><%= (@week.wednesday).month %>/<%= (@week.wednesday).day %></th>
      <th><%= (@week.thursday).month %>/<%= (@week.thursday).day %></th>
      <th><%= (@week.friday).month %>/<%= (@week.friday).day %></th>
      <th><%= (@week.saturday).month %>/<%= (@week.saturday).day %></th>
      <th><%= (@week.sunday).month %>/<%= (@week.sunday).day %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr class="">
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
