<h1>admin::Weeks#index</h1>

<h3>新規日程作成</h3>
<%= form_with model: @week, url: admin_weeks_path, method: :post do |f| %>
  <% if @week.errors.any? %>
  <ul>
    <% @week.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="field">
    <%= f.label :monday, "開始日" %>
    <%= f.date_field :monday %>
  </div>
  <div class="actions">
    <%= f.submit "作成" %>
  </div>
<% end %>

<h3>日程一覧</h3>
<% @weeks.each do |week| %>
  <%= link_to admin_week_jobs_path(week_id: week.id) do %>
    <%= (week.monday).month %>月<%= (week.monday).day %>日～<%= (week.sunday).month %>月<%= (week.sunday).day %>日
  <% end %>
  <%= link_to "削除", admin_week_path(week.id), method: :delete, class:"btn btn-danger btn-sm" %>
  <br>
<% end %>


<h3>カレンダー（データ）</h3>
<!-- 曜日ヘッダー -->
<div class="calendar-grid header">
  <div class="week-day">月</div>
  <div class="week-day">火</div>
  <div class="week-day">水</div>
  <div class="week-day">木</div>
  <div class="week-day">金</div>
  <div class="week-day">土</div>
  <div class="week-day">日</div>
  <div class=""></div>
</div>

<!-- カレンダー本体 -->
<div class="calendar-grid body">
  <% @weeks.each do |week| %>
    <div class="week-row">
        <%= link_to admin_week_jobs_path(week_id: week.id), class:"week-link" do %>
          
            <% [:monday, :tuesday, :wednesday, :thursday, :friday, :saturday, :sunday].each do |day| %>
              <div class="date"><%= week.send(day).month %>/<%= week.send(day).day %></div>
            <% end %>
          
        <% end %>
      
    
        <span class="">
          <%= link_to admin_week_path(week.id), method: :delete, class:"btn btn-danger btn-sm" do %>
            <span class="material-symbols-outlined">delete</span>
          <% end %>
        </span>
    </div>
  <% end %>
</div>

<!-- アウトライン -->
<span class="material-symbols-outlined">home</span>
<!-- 丸っこい -->
<span class="material-symbols-rounded">home</span>
<!-- シャープ -->
<span class="material-symbols-sharp">home</span>
<span class="material-icons">home</>                <!-- 塗りつぶし -->
